.button {

}

#google-logo {
  align:center;
  position:relative;
}

#search-box {

}

#top-nav {
  position: top;
  height:25px;
  background:gray;
}

#bottom-nav {
  font-family:arial,sans-serif;
  bottom: 0;
  font-size:10pt;
  height:35px;
  position:absolute
  width:100%;
  background:gray;
}