
body {
  font-family:sans-serif;
  font-size:.85em;
}

a {
  color:#888;
  text-decoration:none;
}

a:hover {text-decoration:underline;}

ul {
  list-style-type:none;
}

li {
  display:inline;
}
#the-search-box {
  width:500px;
  height:30px;
}

#mic-logo {
 
}

#glogo {
  position:relative; /*this allows top 200px to put image lower on page */
  display:block; /* this allows margin:auto to center the image */
  margin:auto;
  top:200px;
  width:500px;
}

#glogo img {
  display: block;
  margin:auto;
}

#top-menu {
  float:right;
}

#top-menu:after {
  content: "";
  display:block;
  clear:both;
}

.search-form {
  height:30px;
}

.search-form img {
  height:20px;
  float:right;
}
.search-form:after {
  content:"";
  display:block;
  clear:both;
}

#button {
  margin: 0 auto;
  font: bold 11px/27px Arial, sans-serif!important;
  vertical-align: top;
  color: #444!important;
  background: #f5f5f5;
  border: 1px solid #dcdcdc;
  height: 29px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

#bottom {
  position:absolute;
  min-width:980px;
  background: #f2f2f2;
  width:100%;
  height:35px;
  bottom: 0px;
}

#bottom-nav-left {
  position:absolute;
  bottom:-4px;
}

#bottom-nav-right
 {
  position:absolute;
  bottom:-4px;
  right:30px;
}

